<div class="main-products-container">
	<h5>Tamo en products</h5>
	{{#products }}
	
		<div class="product-container">
			{{@index}}
			<p>Titulo : {{this.title}}</p>
			<p>{{description}}</p>
			<p>Precio: {{price}}</p>
			<p>{{thumbnail}}</p>
			<p>Codigo: {{code}}</p>
			<p>Stock: {{stock}}</p>
			<p>{{id}}</p>
		</div>
	{{/products}}
</div>